html {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #F5F5F8;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
}

.card {
  width: min(30%, 300px);
  text-align: center;
}

main {
  position: relative;
  min-height: 50vh;
  max-height: 100vh;
}

.container {
  position: absolute;
  top: 5%;
}

.title {
  min-height: 15vh;
  max-height: 30vh;
  flex: 50%;
  text-align: center;
  position: relative;
}

.rating {
  min-height: 15vh;
  max-height: 30vh;
  flex-basis: 30%;
  text-align: center;
  position: relative;
}

.rating > i {
  position: absolute;
  top: 50%;
}

.fa-check-circle {
  color: green;
}

.fa-times-circle {
  color: red;
}

.source a {
  text-decoration: none;
}

.source {
  text-align: center;
}

.row-title,
.row-source {
  display: flex;
  justify-content: center;
}

.row-cards,
.row-ratings {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

/* Style of inside the card */

.card-white {
  background-color: white;
  padding: 1em;
  border-radius: 1em;
}

img {
  border-radius: 50%;
  object-fit: cover;
  margin: auto;
  width: 8em;
  height: 8em;
}

.card-content h2 {
  color: #295FFB;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0.4em;
}

.card-content h1 {
  margin: 0.1em;
}

.card footer > i {
  color: #295FFB;
}

.card-content p {
  margin-top: 0.1em;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  color: #444444;
}

/* Design with spacing */

.spacing .card-content h2 {
  margin-top: 1em;
}

.spacing .card-content p {
  margin-top: 1em;
}

.spacing footer i + i {
  margin-left: 0.5em;
}

.spacing.card-white {
  padding: 2em;
}